<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap"
  rel="stylesheet"
/>

<div class="main-container">
  <div class="card">
    <div class="card-image">
      <img class="image" src="../assets/trees.jpg" alt="two mountains" />
    </div>
    <div class="card-text">
      <h2 class="card-title">Cool Trees</h2>
      <span class="card-user">@TreeMan</span>
      <p class="card-descr">
        This was a really cool shot I got while hiking. Enjoy!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img class="image" src="../assets/mountains.jpg" alt="two mountains" />
    </div>
    <div class="card-text">
      <h2 class="card-title">Mountains Meeting</h2>
      <span class="card-user">@TheRealBigFood</span>
      <p class="card-descr">
        What a view!! I mean just look at that teal glassy water!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img class="image" src="../assets/night.jpeg" alt="two mountains" />
    </div>
    <div class="card-text">
      <h2 class="card-title">Stars for Days</h2>
      <span class="card-user">@CampingForACause</span>
      <p class="card-descr">
        This was a gorgeous night sky while camping on a glacier in Alaska.
      </p>
    </div>
  </div>
</div>
